.delete-schedule-options-div {
    margin-top: 5%;
    padding: 10px;
    height: 100%;
    width: 80%;
    box-shadow: 2px 2px 14px rgb(216, 205, 205);
    border-radius: 5px;
    background-color: #c2e0f5;
  }
  .delete-options-div {
    display: flex;
    height: 10%;
    justify-content: space-evenly;
  }
  .delete-flightschedule-btn,
  .delete-dateschedule-btn {
    width: 35%;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(145, 143, 143);
  }
  .delete-flightschedule-btn:hover,
  .delete-dateschedule-btn:hover {
      cursor: pointer;
    background-color:#74c0f6;
  }
  .delete-schedule-div{
      padding: 20px;
      margin-top: 5%;
      height: 60%;
      width: 80%;
      font-size: 18px;
  }
  .airport-select-div{
width: 100%;
  }

  .flightnumber-input-div,.date-div{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 10px;
      
  }
  .delete-date-schedule-btn,.delete-schedule-btn{
      border-radius: 5px;
      font-size: 18px;
    font-weight: 500;
    width: 40%;
  }
  .delete-date-schedule-btn:hover,.delete-schedule-btn:hover{
    background-color: #59b7fa;
  }