.update-profile-btn{
    background-color: #1a77a3;
    color: white;
    font-weight: bold;
}
.profile-section{
    padding: 8px;
    border-radius: 6px;
}
.user-img-div{
    background-color: #1a77a3;
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-bottom: 20px;
}
.user-image{
    width: 100%;
}

@media (max-width: 900px) {
    .profile-section{
        box-shadow: 2px 2px 8px rgb(90, 87, 87);
    }
}
