

.container-body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.sidebar{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 14px rgb(243, 235, 235);

}
.sidebar-container{
    margin-top: 30%;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-options{
    width: 60%;
    height: 50%;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    background-color: #c7e4f9;
    box-shadow: 2px 2px 14px rgb(216, 205, 205);
}
.sidebar-options:hover{
    cursor: pointer;
    background-color:#9ad2fb;
}
.container-main{
    margin-top: 5%;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-routes,.add-routes,.delete-routes{
    width: 80%;
}