.delete-route-div{
    box-shadow: 2px 2px 14px rgb(216, 205, 205);
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #c2e0f5;
}
.delete-route-form{
    display: flex;
    flex-direction: column;
}
.source-airport-div,.destination-airport-div{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.delete-route-btn{
    margin: 10px;
    border-radius: 6px;
    width: 35%;
    font-size: 18px;
    font-weight: 500;
}
.delete-route-btn:hover{
    background-color: rgb(173, 208, 239);
}