.bookings-div{
    width: 80%;
}
.booking-list-div{
    width: 80%;
    box-shadow: 2px 2px 8px rgb(127, 122, 122);
    border-radius: 8px;
    padding: 6px;
    margin: 5px;
}
.booking-schedule-details{
width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking-flight-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-passenger-details{
    padding: 5px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(149, 149, 248);
}
.date-seat-div{
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

@media (max-width: 900px) {
    .bookings-div{
        width: 100%;
    }
    .booking-list-div{
        width: 100%;
    }
    .booking-schedule-details{
        flex-direction: column;
        }
}