.popular-destination-area{
    margin-top: 110vh;
}
.popular-destination-div{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(69, 67, 67, 0.5);
}

@media (max-width: 900px) {
    .popular-destination-area{
        margin-top: 155vh;
    }
}

@media (min-height: 900px) {
    .popular-destination-area{
        margin-top: 115vh;
    }
}