.popular-destination-area{
    margin-top: 95vh;
}
.popular-destination-div{
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .popular-destination-area{
        margin-top: 155vh;
    }
}

@media (min-height: 900px) {
    .popular-destination-area{
        margin-top: 115vh;
    }
}