@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Martel&display=swap');

.bg-custom{
    position:absolute;
    background-color: rgb(101, 198, 246);
}
.navbar-nav{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.airplane-icon{
    height: 40px;
    position: relative;
    right: 28%;
    top: 10px;
}
.navbar-brand,.nav-link{
    color: white;
    font-family: "Lobster", sans-serif;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.navbar-brand{
    margin-left: 20px;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1.2);
    color: white;
}
.nav-link:hover{
    color: rgb(180, 186, 188);
}
.link-btn{
    display: none;
}
@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }
    .link-btn{
        display: block;
    }
}