.flight-detail-div{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 70%;
    
}
.add-flight-div{
    box-shadow: 2px 2px 14px rgb(216, 205, 205);
    padding: 10px;
    width: 90%;
}
.add-flight-btn{
    margin: 10px;
    border-radius: 6px;
    width: 20%;
    font-size: 18px;
    font-weight: 500;
}
.add-flight-btn:hover{
    background-color: rgb(173, 208, 239);
}


@media (max-width: 900px) {
.add-flight-div{
    width: 100%;
}
.add-flight-btn{
    width: 40%;
}
.flight-detail-div{
    width: 96%;
}
}