@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.footer{
    margin-top: 20px;
    width: 100vw;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(237, 244, 250);
    box-shadow: 2px 2px 10px rgba(69, 67, 67, 0.5);
}
.footer-txt{
    margin: 10px;
    margin-left: 20px;
    font-family: "Lobster", sans-serif;
    font-size: 24px;
}
.social-media{
    height: 30px;
    width: auto;
    margin: 5px;
}