.update-schedule-div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update-schedule-options{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 14px rgb(60, 59, 59);  
}
.update-option-btn{
    display: flex;
    justify-content: space-between;
    background-color: rgb(99, 179, 182);
}
.btn1{
    margin: 4px;
    margin-top: 10px;
    padding: 5px;
    width: 25%;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.btn1:hover{
    cursor: pointer;
    box-shadow: 2px 2px 14px rgb(60, 59, 59);    
}
.update-schedule-flight,.update-schedule-dateTime{
    margin: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
.update-schedule-flight select{
    margin-top: 20px;
}
.update-schedule-FLight-btn{
    margin-top: 20px;
    width: 30%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  box-shadow: 2px 2px 8px rgb(145, 143, 143);
}
.update-schedule-FLight-btn:hover{
    background-color: darkcyan;
}
.edit-icon{
    margin-top: 20px;
    height: 30px;
    width: auto;
}
.edit-icon:hover{
    box-shadow: 2px 2px 8px rgb(145, 143, 143);
    cursor: pointer;
}