.background-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.login-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.login-div{
    height: 50%;
    width: 25%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}
.login-div form{
    background-color: rgb(206, 249, 255);
    height: 60%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
.username-div,.password-div{
    margin: 20px;
    height: 20%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}
#username-input::placeholder,#password-input::placeholder {
    font-size: 15px;
}
.username-div img,.password-div img{
    height: 40px;
    width: 40px;
}
.login-inputs{
    width: 60%;
    height: 60%;
    padding-left: 3%;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}
#login-btn{
    height: 30px;
    width: 50%;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    background-color: #4fa3e3;
    color: white;
}
#login-btn:hover{
    cursor: pointer;
    font-size: 18px;
    background-color: #339ef0;
}
.register-text{
    font-size: 15px;
}
#registerhere-text{
    color: #339ef0;
    font-weight: bold;
}
#registerhere-text:hover{
    color: #048df6;
    cursor: pointer;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.register-option-btn{
    border-radius: 6px;
    background-color: rgb(204, 244, 249);
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 8px;
    padding: 3px;
}
.register-option-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px rgb(145, 143, 143);
    background-color: rgb(117, 198, 255);
}
.forgot-password:hover{
    cursor: pointer;
    text-shadow: 2px 2px 8px rgb(145, 143, 143);
}
@media (max-width: 1050px) {
    .login-div {
        width: 60%;
    }
}
@media (max-height: 1400px) and (max-width: 1200px) {
    .login-div {
        height: 40%;
    }
}
@media (max-width: 500px) {
    .login-div{
        height: 50%;
        width: 85%;
    }
  }
@media (max-height: 650px) {
    .login-div{
        height: 70%;
    }
}